h1{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.timer {
    height: 235px; 
    width: 235px;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative; 
    background: conic-gradient(#43423f 100%, 0, white);
    box-sizing: border-box; 
    border: 5px solid #000; 
    box-shadow: inset 0 0 0 5px #fff;
}

#countdown {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.start-reset-button{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 40px;
    color: #ffffff;
    background-color: #30a05f;
    border: 2px solid #ffffff;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 200px;
    height:30px;
    margin: 0 auto;
}
.stop-button{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 40px;
    color: #ffffff;
    background-color: #a04130;
    border: 2px solid #ffffff;
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100px;
    height:30px;
    margin: 0 auto;
}
.stop-button:hover{
    background-color: #ffffff;
    color: #a04130;
}
.start-reset-button:hover{
    background-color: #ffffff;
    color: #30a05f;
}